# scraping chaussures

<a> https://www.terrederunning.com/ </a>

In [35]:
# import
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [101]:
url = "https://www.terrederunning.com/19-chaussures-running-femme"
r = requests.get(url)

In [109]:
html = r.content

In [110]:
soup = BeautifulSoup(r.content, "html.parser")
# r.text est le contenu de la reponse en Unicode et r.content est le contenu de la reponse en octects

In [111]:
# Je recupere le nom de la chaussure
temp1 = soup.find('section', {"id": "products"}).find('h2', class_='product-title').text
name = temp1

In [112]:
# Je recuoere la marque de la chaussure
temp2 = soup.find('div', class_='product-brand').find('span').text
brand=temp2

In [113]:
# Je recupere le prix de la chaussure
temp3 = soup.find('div', class_='product-price-and-shipping').find('span', class_='price').text
price = float(temp3[0:6].replace(',','.'))
price

150.0

In [166]:
# Recuperer la liste des chaussures
i=1
woman_running_shoes = []

for i in range(1,16):
    url2 = f'({url}?page={i}'
    for shoes in soup.find_all('div', class_='product-description') :
        name = shoes.find('h2', class_='product-title').text
        brand = shoes.find('div', class_='product-brand').find('span').text
        price = shoes.find('div', class_='product-price-and-shipping').find('span', class_='price').text
        price = float(price[0:6].replace(',','.'))
    
        dict_ = {'name': name,
                'brand': brand,
                'price': price,}
    
        woman_running_shoes.append(dict_)

In [167]:
 df_shoes = pd.DataFrame(woman_running_shoes)

In [199]:
df_shoes

                     name    brand  price
0              Ghost 15 W   BROOKS  150.0
1     Adrenaline Gts 22 W   BROOKS  150.0
2      Velocity Nitro 2 W     PUMA  120.0
3         Wave Rider 26 W   MIZUNO  160.0
4           Glycerin 20 W   BROOKS  180.0
..                    ...      ...    ...
175  Magnify Nitro Knit W     PUMA  140.0
176   Adrenaline Gts 22 W   BROOKS  150.0
177    Velocity Nitro 2 W     PUMA  120.0
178     Wave Inspire 18 W   MIZUNO  150.0
179            Guide 15 W  SAUCONY  150.0

[180 rows x 3 columns]